.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.input {
	/* background-color: blue; */
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #00000040;
	max-width: 400px;
}

.name {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.description {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.description textarea {
	max-width: 400px;
}

svg {
	width: 60px;
}
