.botton {
  width: 50px;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #57318b;
  color: #57318b;
  padding: 10px;
  right: 10px;
  bottom: 65px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
.p {
  text-align: center;
  font-weight: 800;
}
.ChatBotContainer {
  width: 270px;
  height: 300px;
  position: fixed;
  right: 70px;
  bottom: 65px;
  background-color: white;
  border: 2px solid #57318b;
  border-radius: 25px 25px 0px;
  /* overflow-y: scroll; */
}
.ChatBotTitle {
  width: 100%;
  padding: 6px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  background-color: #57318b;
  color: white;
}
.ChatBotTitle p {
  font-weight: 800;
}
.ChatContainer {
  padding: 10px;
  height: 87%;
}
.alterChat {
  border: 1px solid #57318b;
  color: #57318b;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 2px;
  margin-bottom: 5px;
  cursor: pointer;
}
