.cardContainer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{ 
    width: 800px;
    max-width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.title{
    color:rgb(63, 58, 58); 
    width: 70%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.774);
    margin:30px auto ;
    text-align: center;
    padding-bottom: 10px;
   
    
}
.orders{
    width: 300px;
    max-width: 90%;
    padding:5px 10px;
    border-radius:3px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.573);
    margin: 10px;
    transition: 0.2s;

}
.orders:hover{
    transform: scale(1.05);
}
.ordenFecha{
    padding: 3px 0px;
    color: rgb(26, 25, 25);
    display: flex;
    justify-content: space-between;
}
.approved{
    color: rgb(6, 182, 50);
    font-weight: 600;
}
.rejected{
    color: rgb(231, 6, 6);
    font-weight: 600;

}
.pending{
    color: rgb(254, 156, 69);
    font-weight: 600;
}
.btn {
	margin-right: 15px;
	padding: 2px 5px;
	border-radius: 3px;
	width: 30px;
	height: 25px;
	cursor: pointer;
}
.btnResetFilters {
	font-size: 13px;
	padding: 8px 15px;
	border-radius: 50px;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #687880;
	color: #fff;

	transition: 0.5s;
}

.btnResetFilters:hover {
	background-color: #467f9c;
}

.search {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	padding: 30px;
}
.filter {
	display: flex;
	justify-content: space-around;
	
    margin: 20px;
    margin-top: 30px;
}
.filter select {
	/* margin: 15px; */
	padding: 5px 7px;
	color: rgb(70, 67, 67);
	font-weight: bold;
	border: 1px solid rgb(41, 41, 41);
	border-radius: 3px;
	cursor: pointer;
}
.searchFilter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.select select{
    border: 2px solid rgb(66, 66, 64);
    border-radius: 5px;
    font-weight: 600;
}
.select option{
    font-weight: 600;
}