.infoExtraContainer {
	display: flex;
	justify-content: space-around;
	background-color: #eef3f5;
	padding: 70px 10px;
	margin-top: 100px;
}

.infoExtra {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.infoExtra h3 {
	text-align: center;
	color: #333;
}

.infoExtraIcon {
	width: 50px;
}

@media (max-width: 800px) {
	.infoExtraContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 40px;
		padding: 70px 10px;
		margin-top: 100px;
	}
}
