.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    

}
.container h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}