.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    
}
.container h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    color: gb( 33, 33, 33)
}
.sectionContainer {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
    font-size: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 0px 0px 2px rgba(41, 40, 40, 0.666);
    border-radius: 10px;
    background-color: rgb( 33, 33, 33);
    color: white;
    padding: 10px;
    height: fit-content;
    margin-bottom: 30px;
    
}
.item {
    margin: auto;
	background-color: #fff;
    width: 35vw; 
    min-height: 80px;
    margin: 6px 10px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(41, 40, 40, 0.666);
    color: rgb( 33, 33, 33);
    align-items: center;
    min-width: 300px;
    transition: 0.2s;
    font-size: 17px;
}

.item:hover{
    transform: scale(1.05);
}

.item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageIcon {
    width: 35px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	cursor: pointer;
}