.menuLoginContainer {
	position: absolute;
	top: 65px;
	right: 50px;
	width: 250px;
	background: #fff;
	padding: 20px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
	z-index: 999999;
}

.menuLogin {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.menuLoginListContainer {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	padding: 10px 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.menuLoginTitle {
	font-size: 18px;
	font-weight: 600;
}

.menuLoginItem {
	text-decoration: none;
	color: #333;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 5px;
}

.menuLoginItem:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.menuLoginButton {
	width: 100%;
	font-size: 13px;
	padding: 8px;
	border-radius: 50px;
	font-weight: 400;
	text-align: center;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #687880;
	color: #fff;
	text-decoration: none;

	transition: 0.5s;
}

.menuLoginButton:hover {
	background-color: #ad0c36;
}

/*Logout*/
.menuLogout {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.menuLogoutText {
	font-size: 14px;
}

@media (max-width: 600px) {
	.menuLoginContainer {
		top: 45px;
		right: 25px;
		width: 230px;
	}
	.menuLoginTitle {
		font-size: 16px;
	}

	.menuLoginItem {
		font-size: 12px;
	}
}
