@import "./variables.scss";
@import "./functions.scss";

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin button-cta {
	background-color: $primary-color;
	border: none;
	border-radius: 1rem;
	color: $font-color-dark;
	cursor: pointer;
	font-weight: $fw-bold;
	letter-spacing: 3px;
	font-size: $fs-button;
	padding: 1rem 2rem;
	text-transform: uppercase;
}

@mixin input {
	padding: 1rem;
	border: none;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 2px;
	box-shadow: shadow(0, 2px, 5px, 0.5px);
	font-weight: $fw-bold;
	color: $font-color-light;
}

@mixin label {
	font-size: calc($fs-tag * 1.25);
	text-align: left;
	font-weight: $fw-regular;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $font-color-light;
}

@mixin select {
	cursor: context-menu;
	font-weight: $fw-bold;
	border-bottom-left-radius: 25px;
	background-color: $background-light-color;
	color: $secondary-color;
	text-transform: uppercase;
	border: none;
	padding: 0.4rem 0.2rem 0.4rem 1rem;
	outline: none;
}

@mixin pagionation-bttn {
	padding: 0 0.8rem;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-size: $fs-button;
	font-weight: $fw-bold;
	color: $font-color-light;
}

@mixin funny-h3 {
	color: $secondary-color;
	font-size: $fs-h3;
	margin-bottom: 0;
	text-decoration: underline wavy;
}

@mixin funny-h1 {
	color: $primary-color;
	font-weight: $fw-thin;
	font-size: calc($fs-h1 * 2);
	letter-spacing: 2px;
	margin-top: 0;
	text-shadow: 3px 3px 0 $accent-color;
}

// se llama con @include button
