// ! Imports
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

// * Variables
// ! Fonts
/* Font family */
$ff-title: "Poppins", sans-serif;

/* Font sizes */
$fs-h1: 2rem;
$fs-h2: 1.5rem;
$fs-h3: 1.25rem;
$fs-h4: 1.125rem;
$fs-button: 1rem;
$fs-tag: 0.7rem;

/* Font weights */
$fw-thin: 200;
$fw-regular: 400;
$fw-bold: 600;

// ! Colors
$primary-color: #29615b;
$primary-color-40: #29615b40;
$secondary-color: #ac6c3c;
$danger-color: #ac3c3c;
$danger-color-40: #ac3c3c40;

$background-light-color: #f7fffe;
$background-light-color-50: #f7fffe50;
$background-dark-color: #001311;
$background-dark-color-40: #00131140;

$font-color-light: #000c07;
$font-color-light-50: #000c0750;
$font-color-dark: #f7fffe;

$accent-color: #90006f;
$accent-color-50: #90006f50;

// ! Margin
// ! Padding
// ! Width
// ! Heigth
// ! Box Shadows
// ! Border Radius
// ! Border Width
// ! Opacity
